h1 {
  color: black;
  text-align: center;
}

h2 {
  text-align: center;
}

#about {
  font-family:serif;
  font-size:1em;
  margin:15px;
  text-align:left;

}

td:first-child, td:nth-child(2)  {
  background-color:lightgrey;
}

table, th, td {
  border: 1px solid black;
}

#resume {
  align-items: center;
}
